ApiTestSuite/Web References/SpiraTestExecute12/TestExecute.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.inflectra.com/SpiraTest/Services/v1.2.0/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.inflectra.com/SpiraTest/Services/v1.2.0/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This class provides the functionality for executing a test case from an external application and having the test results populate SpiraTest.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.inflectra.com/SpiraTest/Services/v1.2.0/">
      <s:element name="RecordTestRun2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="testerUserId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="testCaseId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="releaseId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="startDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="endDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="executionStatusId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="runnerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="runnerTestName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="runnerAssertCount" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="runnerMessage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="runnerStackTrace" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecordTestRun2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RecordTestRun2Result" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecordTestRun">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="testerUserId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="testCaseId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="releaseId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="startDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="endDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="executionStatusId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="runnerName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="runnerTestName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="runnerAssertCount" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="runnerMessage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="runnerStackTrace" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RecordTestRunResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RecordTestRunResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConnectToProject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConnectToProjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ConnectToProjectResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveServerDateTime">
        <s:complexType />
      </s:element>
      <s:element name="RetrieveServerDateTimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RetrieveServerDateTimeResult" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Authenticate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AuthenticateResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Disconnect">
        <s:complexType />
      </s:element>
      <s:element name="DisconnectResponse">
        <s:complexType />
      </s:element>
      <s:element name="RetrieveProjectList">
        <s:complexType />
      </s:element>
      <s:element name="RetrieveProjectListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveProjectListResult" type="tns:ProjectData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ProjectData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Project" type="tns:ArrayOfProjectRow" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfProjectRow">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ProjectRow" nillable="true" type="tns:ProjectRow" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProjectRow">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ProjectId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Website" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ProjectGroupId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ProjectGroupName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ActiveYn" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CreationDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RecordTestRun2SoapIn">
    <wsdl:part name="parameters" element="tns:RecordTestRun2" />
  </wsdl:message>
  <wsdl:message name="RecordTestRun2SoapOut">
    <wsdl:part name="parameters" element="tns:RecordTestRun2Response" />
  </wsdl:message>
  <wsdl:message name="RecordTestRunSoapIn">
    <wsdl:part name="parameters" element="tns:RecordTestRun" />
  </wsdl:message>
  <wsdl:message name="RecordTestRunSoapOut">
    <wsdl:part name="parameters" element="tns:RecordTestRunResponse" />
  </wsdl:message>
  <wsdl:message name="ConnectToProjectSoapIn">
    <wsdl:part name="parameters" element="tns:ConnectToProject" />
  </wsdl:message>
  <wsdl:message name="ConnectToProjectSoapOut">
    <wsdl:part name="parameters" element="tns:ConnectToProjectResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveServerDateTimeSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveServerDateTime" />
  </wsdl:message>
  <wsdl:message name="RetrieveServerDateTimeSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveServerDateTimeResponse" />
  </wsdl:message>
  <wsdl:message name="AuthenticateSoapIn">
    <wsdl:part name="parameters" element="tns:Authenticate" />
  </wsdl:message>
  <wsdl:message name="AuthenticateSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticateResponse" />
  </wsdl:message>
  <wsdl:message name="DisconnectSoapIn">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="DisconnectSoapOut">
    <wsdl:part name="parameters" element="tns:DisconnectResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveProjectListSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveProjectList" />
  </wsdl:message>
  <wsdl:message name="RetrieveProjectListSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveProjectListResponse" />
  </wsdl:message>
  <wsdl:portType name="TestExecuteSoap">
    <wsdl:operation name="RecordTestRun2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Records the results of executing an automated test, use this version when client cannot handle session cookies</wsdl:documentation>
      <wsdl:input message="tns:RecordTestRun2SoapIn" />
      <wsdl:output message="tns:RecordTestRun2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RecordTestRun">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Records the results of executing an automated test</wsdl:documentation>
      <wsdl:input message="tns:RecordTestRunSoapIn" />
      <wsdl:output message="tns:RecordTestRunSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConnectToProject">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Connects to a project, needed before calling other artifact import methods</wsdl:documentation>
      <wsdl:input message="tns:ConnectToProjectSoapIn" />
      <wsdl:output message="tns:ConnectToProjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveServerDateTime">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieves the current date-time on the server</wsdl:documentation>
      <wsdl:input message="tns:RetrieveServerDateTimeSoapIn" />
      <wsdl:output message="tns:RetrieveServerDateTimeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Authenticates against the server. Need to call before using other methods</wsdl:documentation>
      <wsdl:input message="tns:AuthenticateSoapIn" />
      <wsdl:output message="tns:AuthenticateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Disconnects the currenly authenticated / authorized user</wsdl:documentation>
      <wsdl:input message="tns:DisconnectSoapIn" />
      <wsdl:output message="tns:DisconnectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveProjectList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieves a list of projects that the passed in user has access to</wsdl:documentation>
      <wsdl:input message="tns:RetrieveProjectListSoapIn" />
      <wsdl:output message="tns:RetrieveProjectListSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TestExecuteSoap" type="tns:TestExecuteSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecordTestRun2">
      <soap:operation soapAction="http://www.inflectra.com/SpiraTest/Services/v1.2.0/RecordTestRun2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecordTestRun">
      <soap:operation soapAction="http://www.inflectra.com/SpiraTest/Services/v1.2.0/RecordTestRun" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConnectToProject">
      <soap:operation soapAction="http://www.inflectra.com/SpiraTest/Services/v1.2.0/ConnectToProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveServerDateTime">
      <soap:operation soapAction="http://www.inflectra.com/SpiraTest/Services/v1.2.0/RetrieveServerDateTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <soap:operation soapAction="http://www.inflectra.com/SpiraTest/Services/v1.2.0/Authenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap:operation soapAction="http://www.inflectra.com/SpiraTest/Services/v1.2.0/Disconnect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveProjectList">
      <soap:operation soapAction="http://www.inflectra.com/SpiraTest/Services/v1.2.0/RetrieveProjectList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TestExecuteSoap12" type="tns:TestExecuteSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecordTestRun2">
      <soap12:operation soapAction="http://www.inflectra.com/SpiraTest/Services/v1.2.0/RecordTestRun2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecordTestRun">
      <soap12:operation soapAction="http://www.inflectra.com/SpiraTest/Services/v1.2.0/RecordTestRun" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConnectToProject">
      <soap12:operation soapAction="http://www.inflectra.com/SpiraTest/Services/v1.2.0/ConnectToProject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveServerDateTime">
      <soap12:operation soapAction="http://www.inflectra.com/SpiraTest/Services/v1.2.0/RetrieveServerDateTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Authenticate">
      <soap12:operation soapAction="http://www.inflectra.com/SpiraTest/Services/v1.2.0/Authenticate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://www.inflectra.com/SpiraTest/Services/v1.2.0/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveProjectList">
      <soap12:operation soapAction="http://www.inflectra.com/SpiraTest/Services/v1.2.0/RetrieveProjectList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TestExecute">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This class provides the functionality for executing a test case from an external application and having the test results populate SpiraTest.</wsdl:documentation>
    <wsdl:port name="TestExecuteSoap" binding="tns:TestExecuteSoap">
      <soap:address location="http://localhost/Spira/Services/v1_2_0/TestExecute.asmx" />
    </wsdl:port>
    <wsdl:port name="TestExecuteSoap12" binding="tns:TestExecuteSoap12">
      <soap12:address location="http://localhost/Spira/Services/v1_2_0/TestExecute.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>